#header{
display: inline;
}

#headertitle {
float:left;
margin-top:10px;
margin-left:10px;
font-size:xx-large;
}


 #welcometext {
  color:black;
 font-weight:normal;
 margin-top:35px;
 font-size:small;
 float:right;
 color:black;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 

 }
 
 #welcometext a:hover {
 color:white;
 }
 
 #welcometext a {
 color:black;
 }
 
 
 
 #home{
 background-image: url('../images/home.png');width:76px;height:76px;float:right;margin-top:-5px;
 }
 #home:hover{
 background-image: url('../images/home_light.png');
 height:76px;width:76px;
 }
 
 

body, td, th, li, div {
	font-family:verdana,arial;
}

#headertitle{
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 300;
}

/* styles for geoserver featureinfo */
table.featureInfo, table.featureInfo td, table.featureInfo th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 100%;
    padding: .2em .1em;
}
table.featureInfo th {
    padding: .2em .2em;
    font-weight: bold;
    background: #eee;
}
table.featureInfo td{
    background: #fff;
}
table.featureInfo tr.odd td{
    background: #eee;
}
table.featureInfo caption{
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: .2em .2em;
}

/*makes the header green*/
/*#ext-gen37 {
	background-color:#27ae60;
}*/

/*table in information tab */
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:9px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}



